@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}


@media only screen and (max-width >=768px) {

body{
  background: red;
}
  
}


@media only screen and (max-width: 375px),
  (max-width: 345px),
  (max-width: 390px),
  (max-width: 414px),
  (max-width: 768px) {
  body {
    background: #e5e5e5;
    margin: 0 auto;
    padding: 0 auto;
    max-width: 400px;
    text-align: center;
    scroll-behavior: smooth;
  }

  nav ul {
    display: flex;
    justify-content: stretch;
    gap: 79%;
    margin: 0%;
    padding: 25px;
    background: white;
  }

  nav ul li {
    font-size: 32px;
    font-weight: 500;
    color: #6070ff;
    margin: 0 auto;
    padding: 0 auto;
  }

  main {
    background: white;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    background-image: url(img/header-shapes\ mobile.png);
    height: 718px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: initial;
    padding: 20px;
    border-bottom-left-radius: 70px;
  }

  .titleText h1 {
    font-size: 35px;
    line-height: 52px;
  }

  .titleText {
    position: relative;
    top: 55px;
  }

  .LinkNetwork ul {
    display: flex;
    width: 50%;
    gap: 22px;
    position: absolute;
    top: +475px;
  }

  .titleText p {
    color: #344563;
    font-size: small;
  }

  .titleText h3 {
    font-weight: 500;
    color: #7f8cff;
    font-style: normal;
    margin-top: 10px;
  }

  .card-id {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    text-decoration-line: none;
    text-align: center;
    align-items: center;
    list-style: none;
    padding: 8px 22px;
  }

  .card-one {
    margin-top: 20px;
    background-color: white;
    width: 327px;
    height: 552px;
    border-radius: 16px;
    margin-bottom: 30px;
    transition: all 0.5 ease;
  }

  .card-one img {
    margin-top: 20px;
  }

  .card-one ul {
    display: inline-flex;
    gap: 10px;
    position: relative;
  }

  .card-one ul li {
    font-size: 12px;
    font-weight: 500;
    color: #344563;
    position: relative;
    left: -34px;
  }

  .card-one ul li h4 {
    width: 55px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .card-one ul li img {
    position: relative;
    top: -14px;
  }

  .card-one h3 {
    width: 295px;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 44px;
    color: #172b4d;
    position: relative;
    left: -38px;
    margin-bottom: 10px;
  }

  .card-one .tonic {
    color: #172b4d;
    position: relative;
    left: -93px;
  }

  .textTonic p {
    width: 295px;
    height: 76px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: start;
    position: relative;
    left: +20px;
  }

  .language ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px 13px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    position: relative;
    left: -39px;
    margin-top: 10px;
  }

  .seeMore .seeMoring {
    align-items: center;
  }

  .seeMore h3 {
    /* Button /Normal */
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    position: relative;
    left: 13px;
    margin-top: 20px;
    padding: 0 5px;
    gap: 12px;
    align-items: center;

    /* Primary/B500 */
    border: 1px solid #396df2;
    width: 100px;
    height: 40px;
    color: #396df2;
    border-radius: 8px;
    transition: all 0.5s ease;
  }

  .seeMore h3:hover {
    background: #396df2;
    color: white;
  }

  .about-me {
    display: flexbox;
    position: absolute;
    width: 375px;
    height: 1263px;
    background: #fff;
    border-top-right-radius: 120px;
    margin-top: 50px;
  }

  .aboutme {
    margin-top: 100px;
  }

  .aboutme p {
    width: 327px;
    height: 147px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    color: #344563;
  }

  .aboutme h1 {
    width: 327px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
    position: relative;
    left: 30px;
    margin-bottom: 20px;
  }

  .aboutme .connect {
    width: 217px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-bottom: 20px;
    justify-content: start;
  }

  .contactLink ul {
    display: flex;
    gap: 25px;
    margin-left: 30px;
    cursor: pointer;
  }

  .contactLink .resum {
    width: 138px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    border: 1px solid #396df2;
    position: relative;
    left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 20px;
    border-radius: 8px;
  }

  .contactLink .resum:hover {
    background: #396df2;
    color: white;
  }

  .framWork ul li {
    display: flex;
    flex-direction: row;
    color: brown;
    gap: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 303px;
    height: 66.72px;
    padding: 8px 20px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .framWork p {
    color: #172b4d;
    position: relative;
    top: 20px;
  }

  .framWork .code {
    display: flex;
    gap: 180px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    left: 40px;
  }

  .framWork .code img {
    width: 5%;
    height: 5%;
    position: relative;
    top: 10px;
  }

  .techLanguage ul li {
    display: flex;
    gap: 180px;
    margin-top: 20px;
    position: relative;
    left: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid #dfe1e6;
    padding-bottom: 20px;
    width: 300px;
  }

  .techLanguage #oneImg {
    width: 30px;
    height: 30px;
  }

  .techLanguage .move {
    position: relative;
    left: 50px;
  }

  .techLanguage .oneMove {
    position: relative;
    left: -12px;
  }
}
