@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 150px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(193, 199, 208, 0.85);
}

.keeper {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.keeper .oneDiver {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twoDiver .details {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  position: relative;
  right: 3%;
  background:
    linear-gradient(
      90deg,
      #7a869a,
      #7a869a,
      #7a869a,
      #7a869a,
      #7a869a,
      #7a869a
    );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 0.3s linear infinite;
}

.threeDvier .PopUpImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  justify-content: center;
}

.fourDvier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.griding p {
  width: 778px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.btnn {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}

.btnn .tags {
  display: flex;
  justify-content: center;
  position: relative;
  right: 10%;
  align-items: center;
  gap: 10px;
  border-bottom: 1px #ebecf0 solid;
  padding-bottom: 10px;
}

.tags .tagion {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #6070ff solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
}

.tags .taging {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #6070ff solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
}

.tags .tagiono {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #6070ff solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
}

.btn-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6070ff;
  gap: 10px;
}

.btn-group .btn-outline {
  border: 1px solid #6070ff;
  border-radius: 5px;
  font-weight: 500;
  padding: 8px 22px;
  font-size: 14px;
  color: #6070ff;
}

.btn-group {
  display: flex;
  gap: 20px;
}

/* Animation side here... */
.btn-outline:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  background: #6070ff;
  backdrop-filter: blur(9px);
}

.btn-outline:hover .btn-group .btn-outline {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  background: #6070ff;
  backdrop-filter: blur(9px);
}



@media only screen and (max-width: 375px),
  (max-width: 390px),
  (max-width: 392px),
  (max-width: 414px),
  (max-width: 450px),
  (max-width: 550px),
  (max-width: 690px),
  (max-width: 767px) {
  .keeper {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    width: 327px;
  }

  .griding p {
    width: 308px;
    position: relative;
    left: 5%;
  }

  .fourDvier {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .twoDiver .details {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    position: relative;
    right: 10%;
    color: #6070ff;
  }
}
